 .new-room{
     margin-top:22px;
 }

 .room-list, 
 .message-list{
     list-style:none;
     padding:0;
 }

 .room-list li{
     margin-top:5px;
     cursor: pointer;
     padding: 5px 10px;
 }

 .message-list li{
     padding: 5px 15px;
 }

.message-list li:nth-child(odd){
    background-color: #c1eaff;
}

.current{
    font-weight: bold;
    background-color: #c1eaff;
}