<div class="container-fluid">
    <main class="row">
        <aside class="col-md-4">

            <div class="row">
                <h1 class="col-md-8">Bloc Chat</h1>
                <a class="col-md-4 btn btn-primary btn-sm new-room" href="#" ng-click="showPopUp()">New Room</a>
            </div>

            <ul class="room-list" >
                <li ng-repeat="x in rooms" >{{x.name}}</li>
                
            </ul>
        </aside>
        <section class="col-md-8">
            chat window
        </section>
    </main>
</div>